/C++_Class/Assignment_2/build/
/C++_Class/Assignment_2/dist/
/C++_Class/Assignment_3/build/
/C++_Class/Assignment_3/dist/
/C++_Class/Assignment_4/build/
/C++_Class/Assignment_4/dist/
/C++_Class/Assignment_5/build/
/C++_Class/Assignment_5/dist/
/C++_Class/Midterm/build/
/C++_Class/Midterm/dist/
/C++_Class/Midterm_Q2/build/
/C++_Class/Midterm_Q2/dist/
/C++_Class/Midterm_Q3/build/
/C++_Class/Midterm_Q3/dist/
/C++_Class/Midterm_Q4/build/
/C++_Class/Midterm_Q4/dist/
/C++_Class/Project_1/build/
/C++_Class/Project_1/dist/
/C++_Class/Assignment_8/build/
/C++_Class/Assignment_8/dist/